VITE_ENDPOINT = 
VITE_PROJECT_ID = 
VITE_DATABASE_ID = 
VITE_STORAGE_ID = 
VITE_COLLECTION_ID_PACKAGE = 
VITE_COLLECTION_ID_PRODUCT = 
VITE_COLLECTION_ID_COMMENT = 
VITE_COLLECTION_ID_CUSTOMER = 
VITE_COLLECTION_ID_ORDER = 
VITE_COLLECTION_ID_USER = 

